@import "tailwindcss";

@theme inline {
  --font-family-great-vibes: var(--font-great-vibes);
  --font-family-cormorant: var(--font-cormorant);
}

:root {
  --background: #F3EFE6;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cormorant), serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease-out;
}
